@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.details {
  margin: 1rem;
  border: 0.01rem solid $instock_primary-white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  background-color: $instock_primary-white;
  z-index: 1;
  position: relative;
  bottom: 5.2rem;
  border-radius: 0.25rem;

  @include tablet {
    margin: 0 auto;
    width: 90%;
  }

  @include desktop {
    width: 1020px;
  }

  &__title-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.01rem solid $instock_secondary-grey;
    height: 5rem;

    @include tablet {
      height: 10rem;
    }
  }

  &__title-row {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;

    img {
      margin-top: 2.5rem;
    }
  }

  &__title {
    font-size: 1.75rem;

    @include tablet {
      font-size: 4rem;
      padding-top: 0;
    }
  }
  &__address {
    border-bottom: 0.01rem solid $instock_secondary-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      margin-top: 0.5rem;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__address-box {
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      height: 4rem;
    }

    @include desktop {
      margin: 0 12rem 0 1rem;
    }
  }

  &__edit-wrapper {
    background-color: $instock_primary-blue;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  &__address-title {
    width: 100%;
    font-size: 0.6875rem;
    color: $instock_secondary-slate;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__address-location {
    font-size: 0.8125rem;
    margin-top: 0;

    @include tablet {
      font-size: 0.875rem;
      width: 100%;
    }
  }

  &__info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include tablet {
      justify-content: flex-start;
      padding-left: 3rem;
      border-left: 0.01rem solid $instock_secondary-grey;
    }
  }

  &__info-box {
    margin-right: 1rem;

    @include tablet {
      margin-right: 2rem;
    }
  }

  &__info-contact,
  &__contact-info {
    font-size: 0.6875rem;
    color: $instock_secondary-slate;
    font-weight: bold;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 0.75rem;
    }
  }

  &__info-name,
  &__info-title,
  &__contact-number,
  &__contact-email {
    font-size: 0.8125rem;
    margin: 0;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__item-box {
    @include tablet {
      position: relative;
    }
  }

  &__warehouse-name {
    font-size: 0.8125rem;
    color: $instock_primary-black;

    @include tablet {
      font-size: 1rem;
      margin-top: 0;
    }
  }
}
