@use "../../styles/partials/variables" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.625em;
  font-family: Avenir Next;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
ul,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
