// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors

$instock_primary-black: #232940;
$instock_primary-blue: #2e66e6;
$instock_primary-red: #c94515;
$instock_primary-green: #158463;
$instock_primary-white: #ffffff;

$instock_secondary-slate: #5c667e;
$instock_secondary-grey: #bdc5d5;
$instock_secondary-light-grey: #d1d1d1;
