.add-warehouse {
  position: relative;
  background-color: white;
  margin: 0 auto;
  top: -5rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  margin: 0 2rem;
}
@media screen and (min-width: 768px) {
  .add-warehouse {
    margin: 0 3.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .add-warehouse {
    margin: 0 13rem;
  }
}
.add-warehouse__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
}
@media screen and (min-width: 768px) {
  .add-warehouse__title-wrapper {
    justify-content: flex-start;
    padding: 3.2rem 3.6rem;
  }
}
.add-warehouse__title {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 600;
  margin-left: 1.2rem;
}
@media screen and (min-width: 768px) {
  .add-warehouse__title {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.add-warehouse__back-arrow {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form {
    border-top: 1px solid #bdc5d5;
  }
}
@media screen and (min-width: 768px) {
  .form__outer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .form__container {
    width: 50%;
    margin: 2.4rem 0;
  }
}
@media screen and (min-width: 768px) {
  .form__container--left {
    border-right: 1px solid #bdc5d5;
  }
}
.form__subtitle {
  margin-top: 1.6rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .form__subtitle {
    margin-top: 0;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.form__inner {
  border-top: 1px solid #bdc5d5;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .form__inner {
    border-top: none;
    padding: 0 3.2rem;
  }
}
.form__question {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .form__question {
    margin-bottom: 2.4rem;
  }
}
.form__label {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
@media screen and (min-width: 768px) {
  .form__label {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.form__input {
  all: unset;
  border-radius: 2rem;
  font-size: 1.3rem;
  border: 1px solid #bdc5d5;
  padding: 0.8rem 0 0.8rem 1.6rem;
}
.form__input--error {
  border-color: #c94515;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .form__input::-moz-placeholder {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .form__input:-ms-input-placeholder {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .form__input::placeholder {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.form__error {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}
.form__error-message {
  margin-left: 0.533rem;
  color: #c94515;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.form__error-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.form__buttons {
  display: flex;
  justify-content: space-between;
  background-color: rgba(247, 248, 249, 0.6980392157);
  padding: 1.6rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .form__buttons {
    justify-content: flex-end;
    padding: 1.6rem 3.2rem;
  }
}
.form__button {
  all: unset;
  text-align: center;
  width: 13.5rem;
  height: 3.6rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}
.form__button--cancel {
  border: 1px solid #bdc5d5;
  background-color: white;
  color: #5c667e;
  margin-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .form__button--cancel {
    width: 7.2rem;
  }
}
.form__button--add {
  background-color: #2e66e5;
  color: white;
}/*# sourceMappingURL=AddWarehouse.css.map */