.warehouses {
  font-size: 1rem;
  margin: 2rem auto;
  border-radius: 3px;
  width: 28rem;
  border: 1px solid #bdc5d5;
}
@media screen and (min-width: 768px) {
  .warehouses {
    width: 90%;
    margin: 2rem auto;
  }
}
.warehouses__title {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .warehouses__title {
    font-size: 3.3rem;
    width: 50%;
  }
}
.warehouses__title-container {
  padding: 2rem;
  border-bottom: 0.5px solid #bdc5d5;
}
@media screen and (min-width: 768px) {
  .warehouses__title-container {
    display: flex;
    justify-content: space-between;
  }
}
.warehouses__wrapper-search {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .warehouses__wrapper-search {
    padding-top: 0;
    align-self: center;
  }
}
.warehouses__search {
  background: url("../../assets/icons/search-24px.svg") top 2px right 6px no-repeat;
  background-size: 20px;
  height: 3rem;
  border-radius: 20px;
  width: 100%;
  border: 1px solid #bdc5d5;
  padding-left: 2rem;
}
@media screen and (min-width: 768px) {
  .warehouses__search {
    width: 18.5rem;
    height: 3.8rem;
    background: url("../../assets/icons/search-24px.svg") top 6px right 6px no-repeat;
  }
}
.warehouses input::-moz-placeholder {
  color: #5c667e;
  font-size: 1.1rem;
}
.warehouses input:-ms-input-placeholder {
  color: #5c667e;
  font-size: 1.1rem;
}
.warehouses input::placeholder {
  color: #5c667e;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .warehouses input::-moz-placeholder {
    font-size: 1.4rem;
  }
  .warehouses input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .warehouses input::placeholder {
    font-size: 1.4rem;
  }
}
.warehouses__button-add {
  width: 100%;
  background-color: #2e66e5;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  height: 3rem;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .warehouses__button-add {
    width: 16.8rem;
    height: 3.8rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
.warehouses__button-container {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .warehouses__button-container {
    margin-bottom: 0;
    align-self: center;
    justify-content: flex-end;
    padding-left: 1.2rem;
  }
}
.warehouses__details {
  border-bottom: 0.5px solid #bdc5d5;
}
.warehouses__details-container {
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}
.warehouses__details-wrapper-left {
  width: 43%;
}
@media screen and (min-width: 768px) {
  .warehouses__details-wrapper-left {
    display: flex;
  }
}
.warehouses__details-wrapper-right {
  width: 50%;
}
.warehouses____contact-name-container {
  margin-bottom: 2rem;
}
.warehouses__warehouse-name-label, .warehouses__contact-name-label {
  font-size: 0.8rem;
  color: #5c667e;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .warehouses__warehouse-name-label, .warehouses__contact-name-label {
    display: none;
  }
}
.warehouses__contact-info-label, .warehouses__warehouse-address-label {
  font-size: 0.8rem;
  color: #5c667e;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .warehouses__contact-info-label, .warehouses__warehouse-address-label {
    display: none;
  }
}
.warehouses__warehouse-name {
  color: #2e66e5;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .warehouses__warehouse-name {
    width: 20%;
  }
}
.warehouses__delete-icon-container {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.warehouses__edit-icon-container {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.warehouses__arrow-icon {
  width: 15px;
  position: absolute;
}
.warehouses__subtitle {
  display: none;
}
@media screen and (min-width: 768px) {
  .warehouses__subtitle {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #d1d1d1;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__address-subtitle {
    font-size: 1rem;
    width: 15%;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__warehouse-subtitle {
    font-size: 1rem;
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__contact-name-subtitle {
    font-size: 1rem;
    width: 15%;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__contact-info-subtitle {
    font-size: 1rem;
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__actions-subtitle {
    font-size: 1rem;
    width: 10%;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .warehouses__sort-icon {
    position: absolute;
    height: 15px;
  }
}/*# sourceMappingURL=Warehouses.css.map */